<?xml version='1.0' encoding='utf-8'?>
<widget id="com.crystalrohr.vidrune" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Vidrune</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <hook type="before_run" src="scripts/build-and-copy-vite.js" />

    <platform name="electron">
        <hook type="before_platform_add" src="scripts/injectElectronIPC.js" />
        <hook type="before_build" src="scripts/injectElectronIPC.js" />
    </platform>
</widget>
